__pycache__
**.egg-info

checkpoints
data/text-to-image-2M_64x64
wandb
.hf_token.txt
IMG_1408.jpg
benchmarks.md
debug.py
image.jpg
memory_snapshot.pickle
notebook.ipynb
vae_reconstruction_test.png
debug.py
data/text-to-image-2M_64x64_preprocessed.h5
data/*
*profile.json
pytorch_trace.json
.aim*
.claude*
.venv*
.vscode*
.*
outputs*

id_ed25519
